*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    width: 100%;
}
/* The Header */
header{
    background-color: #0E3854;
    display:flex;
    justify-content: center;
    color: white;

}
// .logo {
//     margin-top: 50px;
//     margin-bottom: 30px;
// }

// header p{
//     position: relative;
//     top: -40px;
//     left: 99px;
// }

.explore{
    background: url(/asset/images/footer.png) center/cover no-repeat;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

.explore h3{
    text-align: center;
    font-size: 40px;
    padding-inline: 35%;
    color: #1F4D6F;
    padding-top: 20px;
    padding-bottom: 20px;
    
   
}
/* section */

.about p{
    text-align: center;
    padding-inline: 25%;
    line-height: 2;
    margin-top: 6rem;
    margin-bottom: 5rem;
    font-weight: 400;
    font-size: 1.3rem;
    align-items: center;
    padding-top: 2rem;
    
    
}

/* footer */

.foot_one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #003254;
    color: white;
}

.foot_one img{
    width: 150px;
}
.follow{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.socials{
    display: flex;
    flex-direction: column;
    
}
.socials img{
    width: 20px;
    margin-top: 10px;
}

.infos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.infos_sub{
    display: flex;
    flex-direction: column;
}

.infos_sub ol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.infos_sub ol a{
    color: white;
    text-decoration: none;
}

.infos_sub ol li{
    list-style: none;
}
.line-con{
    display: flex;
    gap: 1.5rem;
}
.line{
    height: 100px;
    width: 3px;
    background: #B4B7B8;
}
.hori-line{
    width: 100%;
    height: 3px;
    background: #B4B7B8;
    margin-top: 5px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}