@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins';
  flex-grow: inherit;
}
.hero-image {
  height: 100%;
  width: 100%;
}
.hero {
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
}
.sub-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-images img {
  height: 200px;
  width: 260px;
  margin-left: 25px;
  margin-right: 25px;
}
header {
  font-size: 36px;
  margin-left: 100px;
  font-weight: 800;
}
.ratings img {
  width: 270px;
  margin-left: 100px;
  margin-top: 90px;
  margin-bottom: 20px;
}
.header p {
  text-align: start;
}
.header p {
  font-size: 35px;
  font-weight: 500;
  margin-left: 100px;
  font-weight: 800;
}
.location {
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 35px;
}
.location img {
  position: absolute;
  height: 30px;
  width: 30px;
}
.location p {
  margin-left: 35px;
}
.paragraph {
  width: 540px;
  font-size: 20px;
  margin-left: 160px;
  margin-bottom: 50px;
}

.price {
  font-size: 25px;
  font-weight: 600;
  background-color: #0d3854;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  color: #fff;
  padding: 10px 20px;
  width: 150px;
}
.icon {
  position: absolute;
  margin-left: 100px;
}
.second-header p {
  margin-left: 170px;
}
.second-header {
  margin-top: 130px;
  margin-bottom: 50px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}

.text {
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
}
.third-header {
  margin-left: 60px;
}
.arrival-logo img {
  height: 70px;
  width: 70px;
}
.arrival-logo {
  position: absolute;
  margin-left: 35px;
}

.arrival-images img {
  height: 316px;
  width: 389px;
  margin-right: 20px;
}
.arrival-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
  margin-top: 50px;
  text-align: center;
}
.arrival-images p {
  font-size: 12px;
  font-weight: 400;
}

button {
  padding: 20px 65px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 150px;
}
.back-button {
  background-color: #fff;
  color: #000;
  border: 1px solid skyblue;
  margin-left: 100px;
  margin-right: 850px;
  transition: all 0.5s ease-in-out;
}
.back-button:hover {
  background-color: rgb(207, 229, 236);
  color: rgb(98, 137, 168);
}
.book-button {
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  transition: all 0.5s ease-in-out;
}
.back-button a {
  text-decoration: none;
  color: #000;
}
.book-button a {
  text-decoration: none;
  color: #fff;
}
.book-button:hover {
  background-color: rgb(73, 66, 66);
  color: rgb(190, 189, 189);
}
button:hover {
  cursor: pointer;
}
.explore {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  text-align: center;
  display: flex;
  background-image: url('../asset/images/footer.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explore p {
  font-size: 45px;
  font-weight: 800;
  width: 600px;
  color: #1e4d6f;
}
.footer-container {
  background-color: #003254;
  color: #fff;
  padding-left: 80px;
}
.follow_img img {
  width: 20px;
  height: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background-color: #3c95d6;
  width: 250px;
  height: 200px;
  margin-left: 25px;
  margin-right: 25px;
}

.card-img {
  height: 100px;
  width: 100px;
}

.card-img img {
  width: 100%;
}
.food img {
  height: 130px;
}
img.food {
  padding-bottom: 30px;
}
ul li {
  list-style: none;
}
ul li a {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #fff;
}
.footer-container {
  display: flex;
}
.footer-container p {
  font-size: 16px;
}
.footer-logo {
  background-color: #003254;
  padding-bottom: 40px;
  padding-top: 30px;
  padding-left: 80px;
}
.contact div {
  display: grid;
  margin-top: 8px;
}
.contact a {
  color: #d4cfcf;
  margin-left: 10px;
  font-size: 12px;
  margin-top: 6px;
}
.socials {
  display: flex;
}
.socials-icons {
  margin-right: 20px;
}
.socials div {
  margin-right: 100px;
}
.line {
  height: 1px;
  width: 60px;
  background-color: #fff;
}
.lines {
  width: 1px;
  height: 70px;
  background-color: #fff;
  position: absolute;
}
.icons {
  display: grid;
  grid-template-columns: 1fr;
}
ul li a {
  list-style: none;
  color: #d4cfcf;
  margin-left: 10px;
  margin-bottom: 20px;
}
ul {
  margin-top: 8px;
}
a:hover {
  color: #fff;
  cursor: pointer;
}
.copyright {
  background-color: #003254;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 12px;
  padding-bottom: 12px;
}
.terms {
  margin-right: 20px;
  font-size: 14px;
}
.footer-container {
  padding-left: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  header {
    font-size: 45px;
  }
  .hero {
    width: 720px;
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  .hero-image {
    width: 100%;
    height: 100%;
  }
  .sub-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-left: 55px;
  }
  .sub-images img {
    margin-bottom: 30px;
    align-self: center;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    width: 700px;
  }
  .images img {
    margin-top: 30px;
  }
  .text {
    font-size: 16px;
    font-weight: 600;
    margin-right: 65px;
    margin-bottom: 30px;
  }
  .arrival-images {
    display: grid;
    grid-template-columns: 1fr;
  }
  .arrival-images img {
    width: 600px;
    height: 400px;
    margin-left: 25px;
  }
  .arrival-images p {
    font-size: 16px;
    font-weight: 600;
  }
  .back-button {
    margin-right: 210px;
  }
  .socials div {
    margin-right: 30px;
  }
}
@media (max-width: 450px) {
  .hero {
    width: 100%;
    height: 400px;
  }
  .hero-image {
    width: 100%;
    margin-left: 0px;
    margin-left: 0px;
  }
  .sub-images {
    width: 400px;
    margin: 0px;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .sub-images img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 13px;
    margin-right: 0px;
    justify-content: center;
  }
  .ratings img {
    width: 200px;
    margin-left: 115px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  header {
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .location {
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 30px;
  }
  .location p {
    margin-left: 30px;
  }
  .paragraph {
    width: 300px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 45px;
  }
  .price {
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    width: 140px;
  }
  .icon {
    margin-left: 50px;
  }
  .second-header p {
    margin-left: 120px;
    font-size: 25;
  }
  .second-header {
    margin-top: 115px;
    margin-bottom: 40px;
    text-align: center;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    width: 180px;
    padding-left: 180px;
  }
  .text {
    font-weight: 300;
    width: 300px;
  }

  .arrival-logo img {
    height: 60px;
    width: 60px;
  }
  .arrival-logo {
    margin-left: 26px;
  }
  .third-header {
    margin-left: 0px;
    font-size: 25px;
  }
  .third-header p {
    text-align: center;
    margin-left: 40px;
  }

  .arrival-images {
    width: 400px;
    margin-bottom: 70px;
    margin-top: 40px;
  }
  .arrival-images img {
    height: auto;
    width: 100%;
    margin-right: 0px;
    margin-left: 15px;
  }
  .arrival-images p {
    font-size: 16px;
    font-weight: 300;
    margin-left: 60px;
    margin-right: 0px;
  }
  button {
    padding: 10px 45px;
    font-size: 18px;
    margin-bottom: 80px;
  }
  .back-button {
    margin-left: 25px;
    margin-right: 115px;
  }

  .explore p {
    font-size: 30px;
    width: 100%;
  }
  .follow_img img {
    width: 10px;
    height: 10px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-logo {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
  }
  .contact div {
    margin-top: 5px;
  }
  .contact a {
    margin-left: 15px;
    font-size: 10px;
    margin-top: 5px;
  }
  .infos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .infos_sub {
    margin-right: 10px;
  }
  .infos_sub p {
    font-size: 12px;
  }
  .infos_sub a {
    font-size: 10px;
  }
  .socials div {
    margin-right: 10px;
  }
  ul li a {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  ul {
    margin-top: 8px;
  }

  .copyright {
    padding-top: 20px;
    font-size: 10px;
    padding-bottom: 8px;
  }
  .terms {
    font-size: 12px;
  }
  .footer-container {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .icons {
    margin-bottom: 20px;
  }
  .lines {
    height: 60px;
  }
}
@media (max-width: 320px) {
  .sub-images {
    width: 250px;
  }
  .sub-images img {
    margin-left: 35px;
  }
  .ratings img {
    margin-left: 60px;
  }
  .location {
    margin-left: 10px;
  }
  .location img {
    margin-left: 0px;
    padding-left: 0px;
  }
  .location p {
    margin-left: 28px;
  }
  .paragraph {
    margin-left: 20px;
  }
  .paragraph p {
    width: 260px;
  }
  .images {
    width: 40px;
    margin: 0;
    padding-left: 160px;
  }
  .text {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .arrival-images {
    width: 250px;
  }
  .arrival-images img {
    margin-left: 35px;
  }
  .arrival-images p {
    margin-left: 30px;
  }
  button {
    padding: 10px 35px;
  }
  .back-button {
    margin-right: 88px;
    margin-left: 18px;
    font-size: 11px;
  }
  .book-button {
    font-size: 11px;
  }
  a {
    width: 100%;
  }

  .infos_sub {
    margin-right: 5px;
  }

  .socials div {
    margin-right: 5px;
    margin-bottom: 20px;
  }
  .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 20px;
    font-size: 9px;
    padding-bottom: 5px;
    gap: 60px;
  }
  .terms {
    position: none;
    font-size: 9px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-top: 0px;
    width: 100%;
  }
  .lines {
    height: 80px;
  }
}
