@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,900;1,400;1,500;1,600;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bookingContainer{
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 flex-direction: column;

}
.headerContainer{
    background: var(--color-secondary-500, #0E3854);
    width: 100%;
    height: 31rem;
    transform: rotate(0.004deg);
    flex-shrink: 0;
    position: relative;
    margin-bottom: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .headerContainer{
         width: 100%;
         height: 15rem;
         transform: rotate(0.004deg);
         flex-shrink: 0;
         position: relative;
         margin-bottom: 4rem;
         display: flex;
         flex-direction: column;
    }
  }


.headerNav{
    width: 75%;
    padding: 2.5rem 4rem;
    display: flex;
   
}

@media only screen and (max-width: 600px) {
    .headerNav{
        width: 85%;
        padding: 1.8rem 2rem;
        display: flex;
        align-items: center;
        
    }
  }

.headerNav span{
 flex: 1;
color: #FFF;
font-family: Poppins;
font-size: 1.43rem;
font-style: normal;
font-weight: 700;
line-height: 2rem; /* 32.2px */
}

@media only screen and (max-width: 600px) {
    .headerNav span{
       flex: 1;
       color: #FFF;
       font-family: Poppins;
       font-size: 0.53rem;
       font-style: normal;
       font-weight: 700;
       line-height: 1rem; /* 32.2px */
       }
  }
.headerNav img{
    flex: 2;
    object-fit: contain;
    width: 10.74rem;
    height: 4.06rem;
    flex-shrink: 0;
    
}
@media only screen and (max-width: 600px) {
    .headerNav img{
        flex: 2;
        object-fit: contain;
        width: 5.74rem;
        height: 2.06rem;
        flex-shrink: 0;
        
    }
  }
.titleContainer{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .titleContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 0.7rem;
       }
  }
.titleContainer h1{
color: #FFF;
font-family: Poppins;
font-size: 2.9rem;
font-style: normal;
font-weight: 600;
line-height: 4.3rem; /* 70px */
}
@media only screen and (max-width: 600px) {
    .titleContainer h1{
        color: #FFF;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.3rem; /* 70px */
       }
  }
.titleContainer p{

    color: #FFF;
    font-family: Poppins;
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem; /* 22.4px */
}
@media only screen and (max-width: 600px) {
    .titleContainer p{

        color: #FFF;
        font-family: Poppins;
        font-size: 0.47rem;
        font-style: normal;
        font-weight: 400;
        line-height: 0.5rem; /* 22.4px */
    }
  }
.summary{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 1.8rem;
width: 70%;
height: 12rem;
flex-shrink: 0;
margin-bottom: 1.3rem;
border-radius: 1.56rem;
background:  #D9D9D9;
z-index: 2;
position: absolute;
bottom: -7.5rem;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
    .summary {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.2rem;
       width: 100%;
       flex-shrink: 0;
       margin-bottom: 0.7rem;
       border-radius: 0.8rem;
       background:  #D9D9D9;
       z-index: 2;
       position: absolute;
       bottom: -4.3rem;
       box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       }
    }
  
.topContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
@media only screen and (max-width: 600px) {
    .topContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    }
.oneWay{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
 padding-bottom: 0.3rem;}
.oneWay h5{
    color: #000;
    font-family: Poppins;
    font-size: 1.43rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
   
}
@media only screen and (max-width: 600px) {
    .oneWay h5{
        color: #000;
        font-family: Poppins;
        font-size: 0.64rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
    }}


.roundTrip{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.roundTrip h5{
 color: #000;
font-family: Poppins;
font-size: 1.43rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; 
}
@media only screen and (max-width: 600px) {
    .roundTripImg {
        width: 1.9rem;
        height: 1.9rem;
        object-fit: contain;
    }}
@media only screen and (max-width: 600px) {
    .roundTrip h5{
        color: #000;
        font-family: Poppins;
        font-size: 0.63rem;
        font-style: normal;
        font-weight: 400;
      
        line-height: 1rem;
    }}
.oneWay img{
    fill: #E53838;
    width: 1.62rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.bottomContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-shrink: 0;

}
@media only screen and (max-width: 600px) {
    .bottomContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;        
        justify-content: center;
        gap: 0.2rem;
        flex-shrink: 0;
    
    }  
}

@media only screen and (max-width: 600px) {
    .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 30%;
        gap: 0.1rem;
        color: white;
        margin-bottom: 0.156rem;
        justify-content: center;
    } }


.info h2{
color: #000;
font-family: Poppins;
font-size: 1.43rem;
font-style: normal;

font-weight: 400;
line-height: 2rem; 

}
@media only screen and (max-width: 600px) {
    .info h2{
       /* color: #000;*/
       color: black;
        font-family: Poppins;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem;
        } }
 .info .infoContainer{
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.8rem;
background: var(--color-primary-500, #FFF);
}
@media only screen and (max-width: 600px) {
    .info .infoContainer{
        width: 5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 0.31rem;
    background: var(--color-primary-500, #FFF);
    }  }
.infoContainer h2{
color: rgba(0, 0, 0, 0.72); 
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;

line-height: 1.4rem; /* 22.4px */
}
.input{
border: none;
outline: none;
width: 100%;
height: 100%;
text-align: center;

}

.infoContainer img{
 width: 2.1rem;
height: 2.1rem;
flex-shrink: 0;
 color:#777777 ;
}
@media only screen and (max-width: 600px) {
    .infoContainer img{
        width: 1rem;
       height: 1rem;
       flex-shrink: 0;
        color:#777777 ;
       }  }
.infoContainer h3{
color: rgba(0, 0, 0, 0.72);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.375rem; 
border: none;
outline: none;
}
@media only screen and (max-width: 600px) {
    .infoContainer h3{
        color: rgba(0, 0, 0, 0.72);
        font-family: Poppins;
        font-size: 0.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.6875rem; 
        border: none;
        outline: none;
        } }
.searchBtn{
 display: flex;
width: 12.5rem;
height: 3.125rem;
padding: 0.5rem;
border: none;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 0.625rem;
background: #003254;
color: #fff;
}
@media only screen and (max-width: 600px) {
    .searchBtn{
        display: flex;
       width: 7.5rem;
       height: 2.5rem;
       padding: 0.18rem;
       justify-content: center;
       align-items: center;
       flex-shrink: 0;
       border-radius: 0.5rem;
       background: #003254;
       color: #fff;
       border: none;
       margin-top: 0.8rem;
       }
   
       }
.airLineContainer{
    display: grid;
    place-items: center;
    position: relative;
}
@media only screen and (max-width: 600px) {
   
    .airLineContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
           }
.airLineContainer h2{
 position: absolute;
 left: 13rem;
 top: 2rem;
 color: #000;
font-family: Poppins;
font-size: 1.3rem;
font-style: normal;
font-weight: 400;
line-height: 1.83rem; /* 29.4px */
}

@media only screen and (max-width: 600px) {
   
    .airLineContainer h2{
        position: absolute;
        left: 3rem;
        top: 3rem;
        color: #000;
       font-family: Poppins;
       font-size: 1.8rem;
       font-style: normal;
       font-weight: 500;
       line-height: 1.83rem;
    }
           }
.cheapAirlines{
 margin-top: 5.3rem;
width: 70%;
flex-shrink: 0;
display: flex;
flex-wrap: wrap;
align-items: center;
position: relative;
gap: 0.62rem;
}
@media only screen and (max-width: 600px) {
   
.cheapAirlines{
   margin-top: 5rem;
   width: 70%;
   flex-shrink: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   position: relative;
   justify-content: space-between;
   gap: 0.71rem;
   }
       }


.title{
 color: #000;
 display: block;
font-family: Poppins;
font-size: 1.32rem;
font-style: normal;
font-weight: 400;
line-height: 1.81rem;
}
.airline{
flex-shrink: 0;
border-radius: 2.5rem;
width: 30%;
 position: relative;
padding: 0;
display: flex;
align-items: center;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 600px) {
    .airline{
        flex-shrink: 0;
        border-radius: 1rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
       }
       

.airlineImg{
    width: 100%;
    object-fit: cover;
    overflow: hidden;

}
.countries{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 0.62rem;
    top: 0.62rem;
    padding: 1rem;
}


@media only screen and (max-width: 600px) {
    
    .airImg{
        width: 0.62rem;
        height: 0.62rem;
        object-fit: contain;
        }
       }
.airline h1{
color: #FFF;
font-family: Poppins;
font-size: 0.62rem;
font-style: normal;
font-weight: 400;
z-index: 99;
line-height: 1.4rem; /* 22.4px */
}
@media only screen and (max-width: 600px) {
    
    .airline h1{
        color: #FFF;
        font-family: Poppins;
        font-size: 0.4rem;
        font-style: normal;
        font-weight: 700;
        z-index: 99;
        line-height: 0.62rem; 
        }
       }
.airline span{
    display: flex;
    position: absolute;
    gap: 0.62rem;
    bottom: 0.62rem;
    padding: 1rem;
    color: #fff;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media only screen and (max-width: 600px) {
    
    .airline span{
        display: flex;
        position: absolute;
        gap: 0.3rem;
        bottom: 0.3rem;
        padding: 0.5rem;
        color: #fff;
        font-family: Poppins;
        font-size: 0.68rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        }
       }

.popular{
    
}

