@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,900;1,400;1,500;1,600;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bookingContainer{
 width: 100%;
 height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
 
}
.headContainer{
 width: 100%;
 height: 496px;
 transform: rotate(0.004deg);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 flex-shrink: 0;
 background: var(--color-secondary-500, #0E3854);
 position: relative;
}
.nav{
 width: 75%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2rem ;
}
.nav span{
 flex: 1;
 color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 10px; 
cursor: pointer;
}
.nav img{
    flex: 6;
    width: 171.908px;
    height: 65px;
    object-fit: contain;
    flex-shrink: 0;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
   }
   .titleContainer h1{
   color: #FFF;
   font-family: Poppins;
   font-size: 2.9rem;
   font-style: normal;
   font-weight: 600;
   line-height: 4.3rem; /* 70px */
   }
   .titleContainer p{
   
       color: #FFF;
       font-family: Poppins;
       font-size: 0.87rem;
       font-style: normal;
       font-weight: 400;
       line-height: 1.3rem; /* 22.4px */
   }


   .summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    gap: 8px;
   width: 70%;
   height: 9rem;
   flex-shrink: 0;
   margin-bottom: 1.3rem;
   border-radius: 1.56rem;
   background:  #D9D9D9;
   z-index: 2;
   position: a;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   position: absolute;
   bottom: -105px;
   }
   
.topContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.oneWay{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
 padding-bottom: 2px;
}
.oneWay h5{
    color: #000;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.oneWay img{
    width: 26.25px;
   height: 25px;
   flex-shrink: 0;
   color: #fff;
   }
   .roundTrip{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.roundTrip h5{
    color: #000;
   font-family: Poppins;
   font-size: 23px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 32.2px */
   }
   .oneWay img{
    fill: #E53838;
    width: 26.25px;
height: 25px;
flex-shrink: 0;
}
.bottomContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
 width: 100%;
flex-shrink: 0;

}

.infoContainer{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
    justify-content: space-between;
}
.info h2{
color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 1rem; /* 32.2px */
}

.info .infoContainer{
    width: 9rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 7px;
background: var(--color-primary-500, #FFF);
}
.info h2{
color: rgba(0, 0, 0, 0.72);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20.2px; /* 22.4px */
}
.infoContainer img{
 width: 35px;
height: 35px;
flex-shrink: 0;
 color:#777777 ;
}
.infoContainer h3{
color: rgba(0, 0, 0, 0.72);
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
border: none;
outline: none;
}

.titl{
    color: red;
    background-color: red;
    z-index: 999;
    margin-top: 9rem;
}
.cheapAirlines{
 margin-top: 10rem;
   width: 70%;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   position: relative;
   justify-content: center;
   gap: 10px;
   }
 
   .title{
    color: #000;
    display: block;
   font-family: Poppins;
   font-size: 21px;
   font-style: normal;
   font-weight: 400;
   line-height: 29px; /* 29.4px */
   }

.airline{
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .airlineImg{
        width: 100%;
        height: 420px;
        object-fit: cover;
        z-index: -1;
    }
    .countries{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 10px;
        top: 10px;
        padding: 1rem;
    }
    .airline h1{
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        z-index: 99;
        line-height: 22.4px; /* 22.4px */
        }
        .airline span{
            display: flex;
            position: absolute;
            gap: 10px;
            bottom: 10px;
            padding: 1rem;
            color: #fff;
            font-family: Poppins;
            font-size: 23.333px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }