body {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  position: relative; /* Make sure the position is set to relative */

  /* Set the background image on the body itself */
  background-image: url("/asset/images/river.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

/* Create a pseudo-element to act as an overlay with the filtered background image */
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/asset/images/river.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5); /* Adjust the brightness value as needed */
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the overlay is behind the content */
}


.sign-up-container {
  width: 600px;
  padding: 2rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  background: rgba(255, 255, 255, 0.5); /* Adjust the background color and alpha as needed */

}
.home-img {
  height: 2rem;
  width: 2rem;
/*   // position: absolute;
  // top: 1rem;
  // right: 1rem; */
}

.top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.top a {
  margin-right: auto; /* Push the anchor to the left */
}

.top h1 {
  flex: 1;
  text-align: center; /* Center the "Sign Up" heading */
}

h2 {
  /* // margin-top: -2px; */
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
}

input {
  background: rgba(222, 222, 222, 0.687);
  padding: 0.7rem;
  border: none;
  border-radius: 7px;
  outline: none;
  margin: -8px 0 15px 0;
}
.password-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.toggle-password {
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* // .eye-icon {
//   position: absolute;
//   right: 2%;
//   top: 50%;
//   transform: translateY(-30%);
// }
 */
button {
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  background: rgb(0, 50, 84);
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}


/* style the checkbox */
.check-box {
  display: flex;
  font: 1rem;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
}
.check-box label {
  margin: 0;
}
.check-box input {
  margin: 0;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.center-text p {
  color: rgba(0, 0, 0, 0.635);
}
.text {
  margin: 0 20px;
  font-weight: bold;
}
hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.189);
}

.media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.media-logos img {
  width: 50px;
}

.login {
  display: flex;
  justify-content: center;
}
.login a {
  text-decoration: none;
  color: blue;
}



