body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #024a79;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.payment-container {
  background: rgba(255, 255, 255); /* Translucent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 7rem;
}
h1 {
  color: #003254;
}

.card-types {
  margin: 10px 0;
}

.card-types img {
  width: 40px;
  margin: 0 5px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #003254;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.amount p {
  color: #003254;
}

.exp-cvv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.expiry-date,
.cvv {
  width: 48%;
}

button {
  background: #003254;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background: #001e36;
}

.amount span{
  font-weight: 700;
}