body {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh; /* Ensure full height of the viewport */
    margin: 0;
}

.sign-up-container {
    
    min-width: 600px;
    padding: 2rem;
    
    border-radius: 8px;
}
.home-img{
    height: 2rem ;
    width: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.top {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
h2 {
    margin-top: -2px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin: 10px 0;
}

input {
    background: rgba(128, 128, 128, 0.687);
    padding: 0.7rem;
    border: none;
    border-radius: 7px;
    outline: none;
    margin: -8px 0 15px 0;
}
.password-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-30%);
}

button {
    margin-top: 1.8rem;
    padding: 0.8rem;
    background: rgb(6, 6, 71);
    color: white;
    border: none;
    border-radius: 7px;
}
  
/* style the checkbox */
  .check-box {
    margin: 10px 0 0 0;
    font-size: small;
  }

  
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.center-text p {
    color: rgba(0, 0, 0, 0.635);
   }
   .text {
       margin: 0 20px;
       font-weight: bold;
   }
   hr {
       flex-grow: 1;
       border: none;
       height: 1px;
       background-color: rgba(0, 0, 0, 0.189);
   }

   .media-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
   }

   .media-logos img {
    width: 50px;
   }

   .login{
    display: flex;
    justify-content: center;
   }
   .login a{
    text-decoration: none;
    color: blue;
   }